# Resultados de las pruebas

## C:/Users/mauro/UTN 2024/Desarrollo 2024/DesarrolloSoftware-2024/TPI/vite-project/src/test/loginPage.test.tsx
- **Debe renderizar el formulario de registro de manera correcta**: ✅
- **Debe detectar el intercambio del formulario de registro al de login**: ✅
- **Debe mostrar la institucion mockeada**: ✅
- **Debe corroborar que las contrasenas ingresadas sean iguales**: ✅

