.patentes-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.patentes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.patentes-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px 30px 10px;
    width: 45%;
    max-width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    text-align: left;
    margin-bottom: 20px;
}

.patentes-card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.patentes-card h6 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #555;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
}

.patentes-info {
    padding: 15px 0;
}

.patentes-info p {
    font-size: 16px;
    margin: 5px 0;
    color: #666;
}

.personal-info, .user-varita {
    padding: 15px 0;
}

.personal-info p, .user-varita p {
    font-size: 16px;
    margin: 5px 0;
    color: #666;
}
.buttons-container {
    display: flex;
    justify-content: space-between; /* Alinea un botón a la izquierda y otro a la derecha */
    margin-top: 10px; /* Espacio entre el contenido y los botones */
}

.buttons-container button {
    width: auto; /* Deja que el ancho sea dinámico */
    padding: 10px 20px; /* Ajuste de padding */
    font-size: 16px; /* Aumenta el tamaño de la fuente */
    white-space: nowrap; /* Evita el quiebre de línea */
    text-align: center; /* Asegura el texto centrado */
    border-radius: 5px; /* Opcional: bordes redondeados */
}

.patentes-container .patentes-card .close-button {
    font-size: 12px; /* Ajusta específicamente el tamaño de la 'X' */
    padding: 5px; /* Asegura que no tenga demasiado espacio */
    line-height: 1; /* Asegura que no se expanda verticalmente */
}
